<div class="bg"></div>
<p class="py-5 text-center"></p>

<p>Bienvenido</p>
<h1>Ya estas registrado en muestro sistema, ahora puedes acceder al menú, crear requerimiento o ver el estado de tu ticket de soporte creados </h1>
<html>
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Prueba WhatsApp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<a href="https://wa.me/56988122950?text=Solicito%20una%20atención" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
	
</body>
</html>